@page "/booking"
@using CarManager.Models
@inject IXeService XekhachServices
<style>
    .width {
        width: 100px;
    }

</style>
<h3>BookManager</h3>

<div style="align-content:center"  class="container">
    <div>
        <h3>Sơ đồ xe</h3>
    </div>
    <EditForm Model="xekhach" OnSubmit="HandleSubmit">
        <InputSelect id="chonxe" @bind-Value="xekhach.Id" @onclick="SelectValuesXe" class="form-select">
            <option value="0">-Chọn Xe-</option>
            @foreach (var xekhach in XekhachServices.Xeservices)
            {
                <option value="@xekhach.Id">@xekhach.TenXe</option>
            }
        </InputSelect>
    <br />
        <br />
        <br />
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
    </EditForm>
    
</div>
@code {
    [Parameter]
    public int? Id { get; set; }
   
    Xe xekhach = new Xe();
    private async Task SelectValuesXe()
    {
        await XekhachServices.GetXeDetail();
        
    }
    async Task HandleSubmit()
    {  
        await XekhachServices.UpdateXe(Id, xekhach);   
    }
   
}
