@page "/"
@using System.Data
@using System.IO
@using System.Text.Json
@using System.Net.Http.Headers
@using System.Linq
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Util
@using Newtonsoft.Json
@using CarManager.Models
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.BarChart
@inject IXeService XekhachServices
<h3>Biểu Đồ</h3>
<div>
    <Chart Config="_pieConfig"></Chart>
</div>
<br />
<div>
    <Chart Config="_barConfig"></Chart>
</div>



@code {
    Xe xekhach = new Xe();
    private PieConfig _pieConfig;
    private BarConfig _barConfig;
    protected override void OnInitialized()
    {
        ConfigurePieConfig();
        ConfigureBarConfig();
    }
    private void ConfigurePieConfig()
    {
        _pieConfig = new PieConfig();
        _pieConfig.Options = new PieOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Biểu đồ xe"
                }
            };
        foreach (var xekhach in new[] { "test1", "test2", "test3" })
        {
            _pieConfig.Data.Labels.Add(xekhach);
        }
        var dataset = new PieDataset<int>(new[] { 15, 50, 60 })
            {
                BackgroundColor = new[]
                {
                ColorUtil.ColorHexString(255,0,0),
                ColorUtil.ColorHexString(0,255,0),
                ColorUtil.ColorHexString(0,0,255)
            }
            };
        _pieConfig.Data.Datasets.Add(dataset);
    }
    
    private void ConfigureBarConfig()
    {
        _barConfig = new BarConfig();
        _barConfig.Options = new BarOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Biểu đồ xe"
                }
            };
        foreach (var xekhach in new[] { "test1", "test2", "test3", "test4", "test5", "test6" })
        {
            _barConfig.Data.Labels.Add(xekhach);
        }
        var dataset = new BarDataset<int>(new[] { 30, 50, 60, 70, 65, 40 })
            {
                BackgroundColor = new[]
                    {
                ColorUtil.ColorHexString(255,0,0),
                ColorUtil.ColorHexString(0,255,0),
                ColorUtil.ColorHexString(0,0,255),
                ColorUtil.ColorHexString(255,0,0),
                ColorUtil.ColorHexString(0,255,0),
                ColorUtil.ColorHexString(0,0,255)
            }
            };
        _barConfig.Data.Datasets.Add(dataset);
    }
}
